.chicken {
  .big-triangle-1 {
    transform: translate(0, 0) rotate(-45deg);
  }

  .big-triangle-2 {
    transform: translate(0, 0) rotate(-45deg);
  }
  .medium-triangle {
    transform: translate(20%, -49%) rotate(90deg);
  }

  .small-triangle-1 {
    transform: translate(-85%, -85%) rotate(180deg);
  }
  .small-triangle-2 {
    transform: translate(-24%, 46%) rotate(90deg);
  }
  .small-square {
    transform: translate(-35%, 0) rotate(-45deg);
  }
  .parallelogram {
    transform: translate(0%, 35%) rotate(45deg);
  }
}
