.dancer {
.big-triangle-1 {
    transform: translate(74%,88%) rotate(10deg);
   }
 
 .big-triangle-2 {
     transform: translate(0,25%) rotate(190deg);
   }
 .medium-triangle {
     transform: translate(63%,71%) rotate(-125deg);
   }
 
   .small-triangle-1{
     transform: translate(-41%,167%) rotate(100deg);
   }
   .small-triangle-2 {
     transform: translate(66%,130%) rotate(-50deg);
    
   }
   .small-square {
     transform: translate(0,-26%) rotate(10deg);
     
   }
   .parallelogram {
     transform: translate(6%,-10%) rotate(55deg);
   }
}
