.tee-shirt {
    .big-triangle-1 {
        transform: translate() rotate();
       }
     
     .big-triangle-2 {
        transform: translate() rotate();
       }
     .medium-triangle {
        transform: translate() rotate();
       }
     
       .small-triangle-1{
        transform: translate() rotate();
       }
       .small-triangle-2 {
        transform: translate() rotate();
        
       }
       .small-square {
        transform: translate(5%,0) rotate(90deg);
       }
       .parallelogram {
        transform: translate() rotate();
       
    }
  }