.point {
    .big-triangle-1 {
        transform: translate(-25%,54%) rotate(180deg);
       }
     
     .big-triangle-2 {
        transform: translate(25%,5%) rotate(90deg);
       }
     .medium-triangle {
        transform: translate(-25%,5%) rotate(0deg);
       }
     
       .small-triangle-1{
        transform: translate(49%,78%) rotate(-90deg);
       }
       .small-triangle-2 {
        transform: translate(0%,-70%) rotate(90deg);
        
       }
       .small-square {
        transform: translate(15%,170%) rotate(-45deg);
       }
       .parallelogram {
        transform: translate(-50%,78%) rotate(0deg); 
    }
  }