.tee-shirt {
    .big-triangle-1 {
        transform: translate() rotate();
       }
     
     .big-triangle-2 {
         transform: translate() rotate();
       }
     .medium-triangle {
         transform: translate() rotate();
       }
     
       .small-triangle-1{
         transform: translate() rotate();
       }
       .small-triangle-2 {
         transform: translate() rotate();
        
       }
       .small-square {
         transform: translate(20%,20%) rotate(-60%);
         
       }
       .parallelogram {
         transform: translate(-60%,-65%) rotate(30deg);
       }
    }
    